.menu_btn{
    color: #E4322E;
}
.main-title{
    text-align: center;
    color: #E4322E;
 }
 .card-first{
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
    margin: 0;
    background-color: #fff;
    // width: 95%;
    height: 8rem;
}
 
 .card{
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
    margin: 0;
    background-color: #fff;
    height: 8rem;
    padding-bottom: 0.3rem;
}
.p-qty{
    font-family: open sans;
    color: #010944;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 1rem;
}
.p-label1{
    font-family: open sans;
    margin-left: 10px;
    color: #E4322E;
    font-size: 18px;
    text-transform: capitalize;
}
.img-checkmark{  
    width: 32px;
    position: relative;
    top: 70px;
    z-index: 59;
    left: calc(50% - 16px);
}
.p-label2{
    font-family: open sans;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    color: #010944;
    float: right;
    font-size: 18px;
}
.p-total{
    font-family: open sans;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #E4322E;
    color: #fff;
}
.p-price{
    font-family: open sans;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #E4322E;
    color: #fff;
    float: right;
}
.ProceedToCheckout_btn{
    background-color: #E4322E;
    color: #fff;
    font-size: 18px;
    height: 40px;
    width: 92%;
    border-radius: 8px;
    display: block;
    margin: auto;
    border: 1px solid #fff;
    margin-right: 8px;
}
.backarrow{
    // margin-left: 25px;
    color: #E4322E;
    font-size: 28px;
    // margin-top: 8px;
}
.sub_total_card{
  
    background-color: #fff;
    margin-top: 50px;
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
}
.total_price{
    font-family: open sans;
    background-color: #E4322E; 
    margin-top: 0px;
    height: 40px;
}
.back_arrow{
    height: 40px;
    width: 35%;
    background-color: #fff;
    margin: 5px;
    margin-left: 10px !important;
    border-radius: 8px;
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
}
.img{
    width:100%
}
.backarrow1{
    margin-left: 10px;
    color: #E4322E;
    font-size: 1.5rem;
}