<ion-toolbar>

  <ion-buttons slot="start" (click)="fnBackToProductList()">
    <ion-icon name="arrow-back-outline" class="backarrow1"></ion-icon>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>

    </ion-button>
  </ion-buttons>
  <ion-title class="main-title">Your Cart</ion-title>
</ion-toolbar>

<ion-content>


  <ion-grid *ngFor="let item of cartData;">
    <ion-row>
      <ion-col size="4">
        <ion-card class="card-first" *ngIf="item.images">    
            <img *ngIf="item.images.length > 0" src="{{url.file_url}}assets/uploads/products/thumbs/{{item.images[0].product_image}}" style="width:100%;height: 100%;">
            <img *ngIf="item.images.length == 0" src="../../assets/imgs/not_found.png" style="width:100%;height: 100%;">      
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card">
          <ion-icon style="float:right;color: #E4322E;font-size: 24px;" (click)="cancelData(item)" name="close-outline">
          </ion-icon>
          <p class="p-label1"><b>{{item.name}} {{item.weight}}Kg</b></p>
          <p class="p-qty">Qty:{{item.qty}}</p>
          <p class="p-label2">₹{{item.price*item.qty}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <img class="img-checkmark" src="../../assets/imgs/checkmark.png">
  <ion-card class="sub_total_card">
    <!-- <div style="text-align: center;">
      <img src="../../assets/imgs/checkmark.png">
    </div> -->
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <h4 class="p-label2 float-l">Subtotal</h4>
        </ion-col>

        <ion-col>
          <h6 class="p-label2">₹{{mainSubTotal}}</h6>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <h4 class="p-label2 float-l">Shipping</h4>
        </ion-col>

        <ion-col>
          <h6 class="p-label2 ">₹0</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <h4 class="p-label2 float-l">Discount</h4>
        </ion-col>

        <ion-col>
          <h6 class="p-label2">₹0</h6>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid class="total_price">
      <ion-row>
        <ion-col>
          <h5 class="p-total">TOTAL</h5>
        </ion-col>

        <ion-col>
          <h5 class="p-price">₹{{mainSubTotal}}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row style="margin-top: 13%;">

    <ion-card class="back_arrow center" (click)="fnBackToProductList()">
      <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
      <ion-item>
        <ion-label>
          More Item
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-col class="center">
      <button ion-button class="ProceedToCheckout_btn" (click)="fnProceedToCheckout()">Proceed To Checkout</button>
    </ion-col>
  </ion-row>
</ion-content>