<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start" class="main-title">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <!-- <ion-back-button (click)="goBack()" color="danger"></ion-back-button> -->
      <ion-icon name="arrow-back-outline" (click)="goBack()" class="backarrow1"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Add Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="current-location">
      <!-- <ion-row class="center">
        <ion-col class="imgCard" size="3">
          <img src="../../assets/imgs/gps-fixed-indicator.png">
        </ion-col>
        <ion-col size="9">
          <ion-label class="txt-location"><b>Use My Current Location</b></ion-label>
        </ion-col> 
      </ion-row> -->

    </ion-card>
    <ion-card class="main-address ios">
      <h6 class="txt-location"><b>Choose Your Address Type</b></h6>

      <ion-row class="main-img ios" style="margin-bottom: 15%;">
        <ion-radio-group [(ngModel)]="data" (ionChange)="onChangeHandler($event)" style="margin-top: 5px;display: flex;">
          <div class="office-img">
            <p class="p-office">Office</p>

            <ion-radio style="margin-left: 35px;margin-top: 17px;" value="Office" [checked]="this.data === 'Office'">
            </ion-radio>

          </div>

          <div class="home-img">
            <p class="p-office">Home</p>

            <ion-radio style="margin-left: 35px;margin-top: 17px;"  value="Home" [checked]="this.data === 'Home'">
            </ion-radio>

          </div>

          <div class="other-img">
            <p class="p-office">Other</p>

            <ion-radio style="margin-left: 35px;margin-top: 17px; " value="Other" [checked]="this.data === 'Other'">
            </ion-radio>

          </div>

        </ion-radio-group>
      </ion-row>
      <div class="input-wrap" *ngIf="this.data === 'Office'">
         <div class="order-no-bg">
           <ion-input placeholder="GST No (Optional)" [(ngModel)]="gstText"
             type="text" name="GST_no" class="order_no_txt" (ionChange)="GSTFetch()">
           </ion-input>
         </div> 
       </div>

      <form [formGroup]="ionicForm">

        <!-- by arshad -->
        <div class="input-wrap">
         <!--  <div class="order-no-bg" style="margin-top: 15%;">
            <ion-input placeholder="GST No" [(ngModel)]="gstText"
              type="text" name="GST_no" class="order_no_txt" (ionChange)="GSTFetch()">
            </ion-input> -->
            <!-- <ion-input placeholder="GST No" formControlName="GSTNo"  [formControl]="ionicForm.controls['GSTNo']"
              type="text" name="GST_no" class="order_no_txt" (ionChange)="GSTFetch()">
            </ion-input> -->
           <!--  <span class="error-wrap" *ngIf="ionicForm.get('GSTNo').touched || ionicForm.get('GSTNo').dirty">
              <small *ngIf="ionicForm.get('GSTNo').hasError('required')" class="error">GST No is required.</small>
            </span> -->
          <!-- </div> -->
        </div>
        <!-- close -->
        <div class="input-wrap">
          <div class="order-no-bg" >
            <ion-input placeholder="{{dataHint}} No" formControlName="houseNo" [formControl]="ionicForm.controls['houseNo']"
              type="text" name="house_no" class="order_no_txt">
            </ion-input>
            <span class="error-wrap" *ngIf="ionicForm.get('houseNo').touched || ionicForm.get('houseNo').dirty">
              <small *ngIf="ionicForm.get('houseNo').hasError('required')" class="error">{{dataHint}} Number is required.</small>
            </span>
          </div>
        </div>

        <div class="input-wrap">
          <div class="order-no-bg">
            <ion-input placeholder="Address" formControlName="AreaColony"
              [formControl]="ionicForm.controls['AreaColony']" type="text" name="area" class="order_no_txt">
            </ion-input>
            <span class="error-wrap" *ngIf="ionicForm.get('AreaColony').touched || ionicForm.get('AreaColony').dirty">
              <small *ngIf="ionicForm.get('AreaColony').hasError('required')" class="error">Address is
                required.</small>
            </span>
          </div>
        </div>
        <ion-row style="margin-left: 10px;
        margin-right: 10px;">
          <ion-col>
            <div class="order-no-bgs">
              <ion-input  placeholder="City" type="text" formControlName="City"
                [formControl]="ionicForm.controls['City']" name="city" class="order_no_txt"></ion-input>
              <span class="error-wrap" *ngIf="ionicForm.get('City').touched || ionicForm.get('City').dirty">
                <small *ngIf="ionicForm.get('City').hasError('required')" class="error">City is required.</small>
                <small *ngIf="ionicForm.get('City').hasError('pattern')" class="error">Only character allowed.</small>
              </span>
            </div>
          </ion-col>
          <ion-col>
            <div class="order-no-bgt">
              <ion-input  placeholder="State" type="text" formControlName="State"
                [formControl]="ionicForm.controls['State']" name="state" class="order_no_txt">
              </ion-input>
              <span class="error-wrap" *ngIf="ionicForm.get('State').touched || ionicForm.get('State').dirty">
                <small *ngIf="ionicForm.get('State').hasError('required')" class="error">State is required.</small>
                <small *ngIf="ionicForm.get('State').hasError('pattern')" class="error">Only character allowed.</small>
              </span>
            </div>
          </ion-col>
        </ion-row>
        <div class="input-wrap">
          <div class="order-no-bg">
            <ion-input placeholder="Landmark" formControlName="Landmark"
              [formControl]="ionicForm.controls['Landmark']" type="text" name="landmark" class="order_no_txt">
            </ion-input>

            <span class="error-wrap" *ngIf="ionicForm.get('Landmark').touched || ionicForm.get('Landmark').dirty">
              <small *ngIf="ionicForm.get('Landmark').hasError('required')" class="error">Landmark is required.</small>
            </span>
          </div>
        </div>

        <div class="input-wrap">
          <div class="order-no-bg">
            <ion-input maxlength="10" placeholder="10-digit Mobile Number" formControlName="MobileNo"
              [formControl]="ionicForm.controls['MobileNo']" type="text" name="mobile_no" class="order_no_txt">
            </ion-input>
            <span class="error-wrap" *ngIf="ionicForm.get('MobileNo').touched || ionicForm.get('MobileNo').dirty">
              <small *ngIf="ionicForm.get('MobileNo').hasError('required')" class="error">Contact details required.</small>
              <small *ngIf="ionicForm.get('MobileNo').hasError('minlength') || ionicForm.get('MobileNo').hasError('maxlength')" class="error">Contact details should be 10 
                digits.</small>
            </span>
          </div>
        </div>
        <div class="input-wrap">
          <div class="order-no-bg">
            <ion-input placeholder="Zipcode" type="number" formControlName="Zipcode"
              [formControl]="ionicForm.controls['Zipcode']" name="zipcode" class="order_no_txt">
            </ion-input>
            <span class="error-wrap" *ngIf="ionicForm.get('Zipcode').touched || ionicForm.get('Zipcode').dirty">
              <small *ngIf="ionicForm.get('Zipcode').hasError('required')" class="error">Zipcode is required.</small>
              <small *ngIf="ionicForm.get('Zipcode').hasError('pattern')" class="error">Enter valid Zipcode.</small>
              <small
                *ngIf="ionicForm.get('Zipcode').hasError('minlength') || ionicForm.get('Zipcode').hasError('maxlength')"
                class="error">Zipcode should be 6 digits long.</small>
            </span>
          </div>
        </div>
        <button ion-button class="SaveAddress_btn" (click)="fnSaveAddress()"><b>Save Address</b></button>
      </form>
    </ion-card>
  </ion-list>
</ion-content>