<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4199496317-h6b3j3srksagfil00p48roooamq958li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4199496317-h6b3j3srksagfil00p48roooamq958li</string>
	<key>API_KEY</key>
	<string>AIzaSyCsl8o6UxfOxVExLdY9h1-Jzoj2CZxRa5w</string>
	<key>GCM_SENDER_ID</key>
	<string>4199496317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laxmiatta</string>
	<key>PROJECT_ID</key>
	<string>laxmi-atta</string>
	<key>STORAGE_BUCKET</key>
	<string>laxmi-atta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4199496317:ios:85a3be14f09d2c1e120f14</string>
	<key>DATABASE_URL</key>
	<string>https://laxmi-atta.firebaseio.com</string>
</dict>
</plist>