<ion-header> 
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="arrow-back-outline" class="backarrow1" (click)=" goBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="avtar">
    <img *ngIf="photos" [src]="photos" class="img">
    <img *ngIf="!photos" src="../../assets/imgs/1945870586Image.png" class="img">
    <p class="profile-txt" (click)="presentActionSheet()"><b>Change Profile Photo</b></p>
    <div *ngIf="AllUserArray">
      <form [formGroup]="ionicForm">
        <div class="order-no-bg">
          <ion-input placeholder="Full Name" formControlName="Name" [formControl]="ionicForm.controls['Name']" type="text" name="Name"
            class="order_no_txt">
          </ion-input>
          <span class="error-wrap" *ngIf="ionicForm.get('Name').touched || ionicForm.get('Name').dirty">
            <small *ngIf="ionicForm.get('Name').hasError('required')" class="error">Name is required.</small>
          </span>
        </div>

        <div class="order-no-bg">
          <ion-input placeholder="Email Id" formControlName="Email" type="text" name="Email"
          [formControl]="ionicForm.controls['Email']" class="order_no_txt"></ion-input>
          <span class="error-wrap" *ngIf="ionicForm.get('Email').touched || ionicForm.get('Email').dirty">
            <small *ngIf="ionicForm.get('Email').hasError('required')" class="error">Email is required.</small>
            <small *ngIf="ionicForm.get('Email').hasError('pattern')" class="error">Enter valid email.</small>
          </span>
        </div>

        <div class="order-no-bg" *ngIf="role==='Customer'">
          <ion-input placeholder="Firm Name" formControlName="UserName" type="text" name="UserName"
          [formControl]="ionicForm.controls['UserName']" class="order_no_txt"></ion-input>
          <span class="error-wrap" *ngIf="ionicForm.get('UserName').touched || ionicForm.get('UserName').dirty">
            <small *ngIf="ionicForm.get('UserName').hasError('required')" class="error">Firm Name is required.</small>
          </span>
        </div>
      </form>
    </div>
    <ion-row class="cancel_save_btn">
      <ion-col>
        <button ion-button class="cancelOrder_btn" (click)="fnCancelOrder()">Cancel</button>

      </ion-col>

      <ion-col>
        <button ion-button class="download_btn" (click)="fnSave()">Save</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>