<ion-header>
  <ion-toolbar>
    <ion-title class="main-title">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <h4 class="password-txt"><b>Change Password</b></h4>
  </div>
  <div class="main-content">
    <div class="order-no-bg">
      <ion-input placeholder="New Password" [(ngModel)]="newPass" type="password" class="order_no_txt"></ion-input>
    </div>

    <div class="order-no-bg">
      <ion-input placeholder="Confirm Password" [(ngModel)]="confirmPass" type="password" class="order_no_txt"></ion-input>
    </div>
  </div>

  <button ion-button class="ChangePassword_btn" (click)="fnSubmit()">Submit</button>
</ion-content>