<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="arrow-back-outline" class="backarrow1" (click)=" goBack()"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="add_card_shadow">

    <ion-row style="margin-top: 5px;" *ngFor="let item of allUpdatedAddress;let i = index">
      <ion-col size="3">
        <ion-checkbox color="danger" class="p-check-icon" [disabled]="item.value" (click)="selection(item.id,i);">
        </ion-checkbox>
        <ion-icon *ngIf="item.address_type == 'Home' || item.address_type == null" name="home-outline" class="icon-address"></ion-icon>
        <ion-icon *ngIf="item.address_type == 'Office'" name="business-outline" class="icon-address"></ion-icon>
        <ion-icon *ngIf="item.address_type == 'Other'" name="location-outline" class="icon-address"></ion-icon>
      </ion-col>

      <ion-col size="7.5">

        <p class="p-name">{{item.name}}</p>
        <p class="p-address">{{item.address_house_no}},{{item.address_area}},{{item.address_landmark}},</p>
        <p class="p-address">{{item.address_city}},{{item.address_state}},{{item.address_zipcode}}</p>
        <p class="p-address">{{item.address_mobile_no}}</p>
      </ion-col>
      <ion-col size="1.5" style="text-align: end !important;">
        <ion-icon name="create-outline" color="danger" class="p-check-icons float-r" (click)="updateAddress(item)">
        </ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>
  <ion-card class="add_card_shadow" (click)="fnAddNewAddress()">
    <ion-row>
      <ion-col size="4">
        <ion-icon name="add-circle" class="p-icon"></ion-icon>
      </ion-col>
      <ion-col size="6" class="p-add">
        Add New Address
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="payable_amt">
    <ion-row class="center1">
      <ion-col size="8" class="p-total">
        Payable Amount
      </ion-col> 
      <ion-col size="4" class="p-price">
        ₹{{mainSubTotal | number:'1.2-2'}}
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="center1">
    <ion-card class="place_order center" (click)="fnBackToYourCart()">
      <ion-icon name="chevron-back-outline" class="backarrow"></ion-icon>
      <p style="color: black;font-size: 1rem;">Add Item</p>
    </ion-card>
    <ion-col>
      <button float-right ion-button class="ProceedToCheckout_btn" (click)="fnProceedToCheckout()">Place Order</button>
    </ion-col>
  </ion-row>

</ion-content>