.menu_btn{
    color: #E4322E;
}
.main-title{
    text-align: center;
    color: #E4322E;
}
.p-name{
    color: #E4322E;
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: open sans;
}
.p-address{
    color: #010944;
    margin: 0;
    margin-left: 2px;
    font-size: 1rem;
    margin-top: 6px;
    font-family: open sans;
}
.p-icon{
    font-size: 1.2rem;
    color: #E4322E;
    float: right;
}
.p-icon-text{
    font-size: 18px;
    color: #E4322E;
    float: left;
}
.p-add{
    color: #E4322E;
    font-size: 18px;
    font-family: open sans;
    display: flex;
    align-items: center;
}
.p-add-name{
    font-size: 1.2rem;
    color: #E4322E;
    margin: 0;
    margin-left: 4%;
    margin-bottom: 5px;
    margin-top: 11px;
}
.p-check-icon{
    font-size: 1.2rem;
    color: #E4322E;
    //margin-left: 4%;
  
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}
.p-check-icons{
    font-size: 1.2rem;
    margin-right: 0.4rem;
}
.ProceedToCheckout_btn{
    background-color: #E4322E;
    color: #fff;
    font-size: 18px;
    height: 40px;
    width: 90%;
    border-radius: 8px;
    display: block;
    margin: auto;
    border: 1px solid #fff;
}
.backarrow{
    // margin-left: 25px;
    color: #E4322E;
    font-size: 28px;
    // margin-top: 12px;
}
.p-total{
    color: #E4322E;
    font-size: 1.2rem;
    padding: 10px !important;
}
.p-price{
    color: #E4322E;
    font-size: 1.2rem;
    padding: 10px !important;
    text-align: end;
}
.p-check-icon-d{
    font-size: 1.2rem;
    color: #E4322E;
    margin: 0;
    margin-left: 9%;
    margin-bottom: 5px;
    margin-top: 11px;
}
.add_card_shadow{
    background-color: #fff;
    // margin-top: 25px;
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
}
.payable_amt{
    background-color: #fff;
     margin-top:30%;
    //  box-shadow: 5px 7px 10px 5px #e8e8e8;
}
.place_order{
    height: 38px;
    width: 24%;
    background-color: #fff;
    // box-shadow: 5px 7px 10px 5px #e8e8e8;
}

.backarrow1{
    margin-left: 10px;
    color: #E4322E;
    font-size: 26px;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-address{
    font-size: 1.2rem;
    color: red;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}