<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <h4 class="password-txt"><b>Change Password</b></h4>
  </div>
  <div class="main-content">
    <form [formGroup]="ionicForm" novalidate>
      <div class="order-no-bg">
        <ion-input placeholder="Old Password" formControlName="oldPass" [(ngModel)]="oldPass" type="password"
          class="order_no_txt"></ion-input>
         
      </div>

      <div class="order-no-bg">
        <ion-input placeholder="New Password" formControlName="newPass" [(ngModel)]="newPass" type="password"
          class="order_no_txt"></ion-input>
          
      </div>
    </form>
  </div>

  <!-- <button ion-button class="ChangePassword_btn" >Change Password</button> -->
  <button ion-button class="ChangePassword_btn" (click)="fnChangePassword()">Change Password</button>

</ion-content>