<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)=" fnBackToYourCart()">
      <ion-icon name="arrow-back-outline" class="backarrow1"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
 
      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <h4 class="password-txt"><b>Change Password</b></h4>
  </div>
  <div class="main-content">
    <form [formGroup]="ionicForm" novalidate>
      <div class="order-no-bg">
        <ion-input placeholder="Old Password" formControlName="oldPass" [(ngModel)]="oldPass" type="password"
          class="order_no_txt"></ion-input>
          <span class="error-wrap" *ngIf="ionicForm.get('oldPass').touched || ionicForm.get('oldPass').dirty">
            <small *ngIf="ionicForm.get('oldPass').hasError('required')" class="error">Password is required.</small>
            <small *ngIf="ionicForm.get('oldPass').hasError('minlength')" class="error">Password should be minimum 6 digits.</small>    
          </span>
      </div>

      <div class="order-no-bg">
        <ion-input placeholder="New Password" formControlName="newPass" [(ngModel)]="newPass" type="password"
          class="order_no_txt"></ion-input>
          <span class="error-wrap" *ngIf="ionicForm.get('newPass').touched || ionicForm.get('newPass').dirty || formSubmitclicked">
            <small *ngIf="ionicForm.get('newPass').hasError('required')" class="error">Password is required.</small>
            <small *ngIf="ionicForm.get('newPass').hasError('minlength')" class="error">Password should be minimum 6 digits.</small>
          </span>
      </div>
    </form>
  </div>

  <!-- <button ion-button class="ChangePassword_btn" >Change Password</button> -->
  <button ion-button class="ChangePassword_btn" (click)="fnChangePassword()">Change Password</button>

</ion-content>