
<ion-content ion-fixed>
 
  <ion-grid >
    <ion-row class="btnCloseContainer">
      <ion-buttons class="close_btn">
        <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
      </ion-buttons>
    </ion-row>
    <ion-row  class="center">
      <ion-col *ngIf="name.images" size="12">
        <ion-slides pager="true" [options]="slideOpts" #slideWithNav>
          <ion-slide >
            <img *ngIf="name.images.length > 0"
              src="{{url.file_url}}assets/uploads/products/thumbs/{{name.images[0].product_image}}"
              class="img_slide">
            <img *ngIf="name.images.length == 0" src="../../assets/imgs/not_found.png" class="img_slide">
          </ion-slide>
          
          <ion-slide >
            <img *ngIf="name.images.length > 0"
            src="{{url.file_url}}assets/uploads/products/thumbs/{{name.images[0].product_image}}"
            class="img_slide">
          <img *ngIf="name.images.length == 0" src="../../assets/imgs/not_found.png" class="img_slide">
          </ion-slide>

          <ion-slide >
            <img *ngIf="name.images.length > 0"
              src="{{url.file_url}}assets/uploads/products/thumbs/{{name.images[0].product_image}}"
              class="img_slide">
            <img *ngIf="name.images.length == 0" src="../../assets/imgs/not_found.png" class="img_slide">
          </ion-slide>
        </ion-slides>
        <p class="slide-text">{{name.product_name}} {{name.product_weight}}Kg </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="padingLeftRight">
    <ion-row> 
      <ion-col size="8">
        <span class="slide-price">
          <!-- {{name.product_weight}}Kg x ₹{{name.product_price * item_qty}}  -->
          {{name.product_weight}}Kg x {{item_qty}} qty  
          <span style="color: gray;font-size: 1.rem;margin-left: 1rem;">₹{{name.product_price * item_qty}}</span>
        </span>
      </ion-col>
      <ion-col  size="4">
        <div class="add-rm-btn">
          <ion-icon name="remove-circle" (click)="fnremove()" class="add-remove-circle"></ion-icon>
          <div style="color: black !important;font-size: 1.7rem;">{{item_qty}}</div>
          <ion-icon name="add-circle" (click)="fnadd()" class="add-remove-circle"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="name.product_description!=''">
      <ion-label class="Description"><b>Product Description</b></ion-label>
    </ion-row>
    <ion-row *ngIf="name.product_description!=''">
      <p class="product">{{name.product_description}}</p>
    </ion-row>
  </ion-grid>

  <button ion-button class="AddToCart_btn" (click)="fnAddToCart(name.id,name.product_name,name.product_weight,name.product_price,item_qty,name.images)">Add To Cart</button>
</ion-content> 