<ion-header class="ion-page">
  
</ion-header>

<ion-content >
  <ion-buttons class="close_btn">
    <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
    <!-- <ion-button ion-button>Close</ion-button> -->
  </ion-buttons>
  <!-- <img src="../../assets/imgs/images.jpg" style="width:50%;height: 50px;"> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
             <img src="../../assets/imgs/images.jpg" class="img_slide">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/imgs/images.jpg" class="img_slide">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/imgs/images.jpg" class="img_slide">
          </ion-slide>
        </ion-slides>
        <!-- <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="../../assets/imgs/images.jpg" style="width:60%;height: 88px;"> -->
            <!-- <img src="../../assets/imgs/images.jpg" style="width:60%;height: 88px;margin-left: 53px;"> -->
          <!-- </ion-slide>

        </ion-slides> -->
        <p class="slide-text">Atta 5Kg </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="slide-price">₹100.00</span>
      </ion-col>

      <ion-col >
        <ion-note end>
          <ion-icon name="remove-circle" (click)="fnremove()" class="add-remove-circle"></ion-icon>
          <span class="add-remove-circle">{{item_qty}}</span>
          <ion-icon name="add-circle" (click)="fnadd()" class="add-remove-circle"></ion-icon>
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label class="Description"><b>Product Description</b></ion-label>
    </ion-row>
    <ion-row>
      <p class="product">Lorem ipsum dolor, sit amet consectetur adipisicing elit. eum sit excepturi dicta doloremque
        totam, deserunt nulla necessitatibus beatae!</p>
    </ion-row>
  </ion-grid>

  <button ion-button class="AddToCart_btn" (click)="fnAddToCart()">Add To Cart</button>
</ion-content>