.backarrow1{
    margin-left: 10px;
    color: #E4322E;
    font-size: 26px;
}
.main-title{
    text-align: center;
    color: #E4322E;
}
.add_card_shadow{
    background-color: #fff;
}
.p-name{
    color: #E4322E;
    margin: 0;
    // margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: open sans;
}
.p-address{
    color: #010944;
    margin: 0;
    margin-left: 2px;
    font-size: 1rem;
    margin-top: 6px;
    font-family: open sans;
}
.p-icon{
    font-size: 1.2rem;
    color: #E4322E;
    float: right;
}
.icon-address{
    font-size: 1.2rem;
    color: red;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}