<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)=" fnBackToYourCart()">
      <ion-icon name="arrow-back-outline" class="backarrow1"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 12px;">
    <p class="order-status"><b>Order Status</b></p>
    <ion-col>
      <ion-item lines="none" style="float: right;">   
        <ion-select  #item class="custom-options customer-filter" [(ngModel)]="selecTextStatus.select" (ionChange)="OnChange(item.value)">
          <ion-select-option value="New">Inprocess</ion-select-option>
          <ion-select-option value="Delivered">Completed</ion-select-option> 
          <ion-select-option value="cancel">Cancel</ion-select-option> 
          <ion-select-option value="Reject">Rejected</ion-select-option> 

        </ion-select>
      </ion-item>
    </ion-col> 
  </ion-row>
  
 <div *ngFor="let item of ordersList;">
  <ion-card  (click)="fnOrderSummary(item.id,item.order_number)">
    <ion-grid class="main-content">
      <p class="order-ids">Order ID: #{{item.order_number}}</p>
    </ion-grid>
    <ion-row>
      <ion-col>
        <p class="d-date">Delivery Date</p>
        <p class="date"><b>{{item.create_at}}</b></p>
      </ion-col>

      <ion-col>
        <p class="status" *ngIf="item.status == 'New' "><b>Inprocess</b></p>
        <p class="status" *ngIf="item.status == 'Delivered' "><b>Completed</b></p>
        <p class="status" *ngIf="item.status == 'cancel' "><b>Cancel</b></p>
        <p class="status" *ngIf="item.status == 'Reject' "><b>Rejected</b></p>

      </ion-col>
    </ion-row>
  </ion-card>
</div>
<div *ngIf="!ordersList?.length > 0">
  <p class="norecord-label">No Records Found</p>
</div>
</ion-content>