<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-grid class="drwawerCard">
          <ion-row class="center">
            <ion-col size="4">
              <div class="user_avatar">
                <img *ngIf="!photo" src="../assets/imgs/avatar1.png">
                <img *ngIf="photo" [src]="photo">
              </div>
            </ion-col>
            <ion-col size="8">
              <h5 ion-text class="cardColor twoLinesText textCap">
                {{name}}
              </h5>
              <span class="cardColor fontSizeRole" *ngIf="role == 'Customer'">Customer</span>
              <span class="cardColor fontSizeRole" *ngIf="role == 'DeliveryBoy'">Staff</span>
              <span class="cardColor fontSizeRole" *ngIf="role == 'Salesman'">Sales Man</span>
              <br>
              <span class="cardColor fontSizeEmail">{{email}}</span>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item class="main-title" (click)="fnDashboard()"><img src="../assets/imgs/home-run.png" height="20" width="20"
          class="img">Home
      </ion-item>

      <ion-item class="main-title" (click)="fnEditProfile()"><img src="../assets/imgs/person.png" height="23" width="23"
          class="img">Edit
        Profile</ion-item>
      <ion-item class="main-title" (click)="fnMyAddress()" *ngIf="role == 'Customer'"><img
          src="../assets/imgs/location.png" height="23" width="23" class="img">My
        Address</ion-item>

      <ion-item class="main-title" (click)="fnChangePassword()"><img src="../assets/imgs/password.svg" height="23"
          width="23" class="img">Change
        Password</ion-item>

      <ion-item class="main-title" (click)="fnComplain()" *ngIf="role == 'Customer'"><img src="../assets/imgs/complain.png" height="23"
          width="23" class="img">Complaint
       </ion-item>

      <!-- <ion-item *ngIf="role == 'Customer'" class="main-title" (click)="fnMyOrders()"><img src="../assets/imgs/order (3).png" class="img">My
        Orders</ion-item> -->

      <ion-item class="main-title" (click)="presentAlertConfirm()"><img src="../assets/imgs/logout.png" height="23"
          width="23" class="img">Logout
      </ion-item>

      <!-- <div *ngIf="role == 'Customer'">
        <ion-item class="main-title" (click)="fnDashboard()"><img src="../assets/imgs/home-run.png" class="img">Home
        </ion-item>
        <ion-item class="main-title" (click)="fnEditProfile()"><img src="../assets/imgs/person.png" class="img">Edit
          Profile</ion-item>
        <ion-item class="main-title" (click)="fnChangePassword()"><img src="../assets/imgs/gear.png" class="img">Change
          Password</ion-item>
        <ion-item class="main-title" (click)="fnMyOrders()"><img src="../assets/imgs/order (3).png" class="img">My
          Orders</ion-item>
        <ion-item class="main-title" (click)="fnLogout()"><img src="../assets/imgs/logout.png" class="img">Logout
        </ion-item>
      </div>

      <div *ngIf="role == 'DeliveryBoy'">
        <ion-item class="main-title" (click)="fnMyAccount()"><img src="../assets/imgs/home-run.png" class="img">Home
        </ion-item>
        <ion-item class="main-title" (click)="fnEditProfile()"><img src="../assets/imgs/person.png" class="img">Edit
          Profile</ion-item>
        <ion-item class="main-title" (click)="fnChangePassword()"><img src="../assets/imgs/gear.png" class="img">Change
          Password</ion-item>
        <ion-item class="main-title" (click)="fnLogout()"><img src="../assets/imgs/logout.png" class="img">Logout
        </ion-item>
      </div> -->

      <!-- <ion-list *ngIf="role == 'Customer'">
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item class="main-title" [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
            {{page.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list *ngIf="role == 'DeliveryBoy'">
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pagess">
          <ion-item class="main-title" [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
            {{page.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list> -->

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>