.img{
    margin-right: 10px;
}

.user_list{
    padding-top: 10px;
  }
  .sidebar_text{
    padding-left: 26px;
    font-size: 23px;
}

.content_bg{
    background-color: transparent;
  }
  .content_text {
      color:#E4322E;
      font-size: 28px;
      font-weight: 500;
      text-transform: capitalize;
    }
  .sidebar_icon{
    color:#E4322E;
    font-size: 28px;
    margin-right: 0;
    margin-top: 10px;
  }
