<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button (click)="goBack()" color="danger"></ion-back-button> -->
      <ion-icon name="arrow-back-outline" (click)="goBack()" class="backarrow1"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Cancel Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="cancel-label"><b>Cancel Order</b></h4>

  <div class="order-no-bg">
   
    <ion-input disabled placeholder="Order No" [(ngModel)]="orderNum" class="order_no_txt"></ion-input>
  </div>

  <!-- <div class="order-Cancel-bg">
    <textarea placeholder="Reason For Cancel Order"  [(ngModel)]="reason" class="order_Cancel_txt"></textarea>
  </div> -->
  <form [formGroup]="ionicForm">
  <div class="txt_bg_area">

    <ion-textarea formControlName="reason" placeholder="Reason For Cancel Order" class="area-txt"></ion-textarea>
    <span class="error-wrap"
    *ngIf="ionicForm.get('reason').touched || ionicForm.get('reason').dirty || formSubmitclicked">
    <small *ngIf="ionicForm.get('reason').hasError('required')" class="error">Reason is required.</small>
   
  </span>
  </div>
</form>
  <button ion-button class="CancelOrder_btn" (click)="fnCancelOrder()"><b>Cancel Order</b></button>
</ion-content>