
<ion-toolbar>
  <ion-buttons slot="start"  (click)="fnBackToDashboard()">
    <ion-icon name="arrow-back-outline" class="backarrow1"></ion-icon>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <img src="../../assets/imgs/buy (3).png" class="img" (click)="fnAddToCart()">
    </ion-button>
  </ion-buttons>

  <ion-title class="main-title">Which <b>Product</b> Do You Need?</ion-title>
</ion-toolbar>
<ion-content>

  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" style="color:green">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
<div *ngFor="let item of lazyListProduct;">
  <ion-card class="card" (click)="showModal(item)">
    <ion-grid>
      <ion-row >
         <ion-col size="4" *ngIf="item.images">
          <img   *ngIf="item.images.length > 0" src="{{url.file_url}}assets/uploads/products/thumbs/{{item.images[0].product_image}}" style="width:100%;">
           <img *ngIf="item.images.length == 0" src="../../assets/imgs/not_found.png" style="width:100%;"> 
        </ion-col> 
    
        <ion-col>
          <h5 class="p-label1"><b>{{item.product_name}} {{item.product_weight}}Kg</b></h5>
          <h6 class="p-label">₹{{item.product_price}}</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
  <!-- <ion-card class="card" (click)="showModal()">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/imgs/images.jpg" style="width:100%;">
        </ion-col>
        <ion-col>
          <h5 class="p-label1"><b>Atta 5Kg</b></h5>
          <h6 class="p-label">₹220.00</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card" (click)="showModal()">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/imgs/images.jpg" style="width:100%;">
        </ion-col>
        <ion-col>
          <h5 class="p-label1"><b>Atta 5Kg</b></h5>
          <h6 class="p-label">₹500.00</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card" (click)="showModal()">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/imgs/images.jpg" style="width:100%;">
        </ion-col>
        <ion-col>
          <h5 class="p-label1"><b>Atta 5Kg</b></h5>
          <h6 class="p-label">₹100.00</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isloadmore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isloadmore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>