<ion-header>
  <ion-toolbar>
    <ion-title class="main-title">Success Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="circle">  
  <div class="right-img">
    <img src="../../assets/imgs/correct.png" style="padding: 26%;">
  </div>
  </div>

  <h4 class="msg-success"><b>Your Order Place Successfully!</b></h4>
  <h5 class="msg-orderId"><b>Order Id: 26205</b></h5>

  <button ion-button class="ViewProduct_btn" (click)="fnViewProduct()">View Product</button>
</ion-content>