<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main-content">

  <ion-card>
    <ion-card-content class="main-card-content">
      Welcome {{name}}!
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="6">
      <ion-card class="Shop-now" (click)="myOrder()">
        
        <ion-card-content class="main-card-Shop-now">
          <img src="../../assets/imgs/order (1).png" >
          <br>
          <b>My Orders</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="Shop-now" (click)="fnProfile()">
        
        <ion-card-content class="main-card-Shop-now">
          <img src="../../assets/imgs/user (2).png" >
          <br>
          <b>Profile</b>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="shop-btn" (click)="fnViewProducts()">
    <ion-col size="4" class="ion-text-center"><img height="45" width="32" src="../../assets/imgs/bag.png"></ion-col>
    <ion-col size="6" style="color: #ffffff; font-size: 1.6rem;   align-items: center;display: flex;">Shop Now</ion-col>
  </ion-row>

  <!-- <button ion-button class="View_btn" (click)="fnViewProducts()">Shop Now</button> -->
</ion-content>