<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">

  <div class="main-tag">
    <ion-label class="sign-label">Forgot Your Password?</ion-label>
  </div>
  <p class="txt-1">Enter Your Email And Will Send</p>
  <p class="txt-1">You Instruction On How To </p>
  <p class="txt-1">Reset It.</p>


  <div class="order-no-bg">
    <ion-input placeholder="Type Your Email Id" [(ngModel)]="email" class="order_no_txt"></ion-input>
  </div>
  <div style="margin-top: 15%;">
    <button ion-button class="send_btn" (click)="fnSend()"><b>Send</b></button>
  </div>

</ion-content>