/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModal {
    margin-top: 70% !important;
    --width: 400px !important;
    --height: 450px !important;
    box-shadow: 0px -187px 20px #0000003d;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    top: 105px !important;
}

.ios .swiper-slide-active {
    width: 100% !important;
    height: 125px !important;
}
.ios .swiper-slide-prev {
    width: 100% !important;
    height: 125px !important;
}
.ios .swiper-slide-next {
    width: 100% !important;
    height: 125px !important;
}
.swiper-slide {
    height: 100% !important;
    color: #e4322e !important;
    width: 100% !important;
}


.swiper-pagination-bullet-active {
    background: #e4322e !important;
}
.sc-ion-input-md-h {
    --padding-top: 25px !important;
    --padding-end: 0 !important;
    --padding-bottom: 10px !important;
    --padding-start: 18px !important;
    font-size: inherit;
}
.native-input.sc-ion-input-md {
    padding: 11px 10px !important;
}
.item-inner {
    background-color: #fff !important;
}
.my-custom-menu {
    --width: 500px;
}
.select-icon {
    width: 25px !important;
    height: 19px;
    margin-left: 18px !important;
}
.alert-radio-label.sc-ion-alert-md {
    color: #e4322e;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    --ion-color-primary: #e4322e;
}
.alert-button-inner.sc-ion-alert-md {
    color: #e4322e;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    --ion-color-step-850: #e4322e;
}
.sc-ion-buttons-ios-h {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 99;
    color: #e4322e;
}

.radio-icon {
    background-color: #e4322e !important;
}
.backarrow1 {
    margin-left: 10px;
    color: #e4322e;
    font-size: 26px;
}
.native-textarea.sc-ion-textarea-md {
    height: 90px !important;
}
.customer-filter {
    padding: 0;
}
.select-icon {
    width: 30px !important;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
}
.change-select-card-modal {
    --height: 26rem;
    align-items: flex-end;
}
.padingLeftRight {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
