<ion-content class="background-image"  scroll="true" overflow-scroll="false">
  <div class="main-class">
    <div style="margin-bottom: 15%;">
      <ion-label class="sign-label">Login</ion-label>
    </div>
    
    <ion-input type="email" name="email" class="login_text" [(ngModel)]="login.username" placeholder="Username or Email"></ion-input>

    <ion-input type="password" name="password" [(ngModel)]="login.password" class="login_text" placeholder="Password"></ion-input>

    <ion-label class="forgot-label" (click)="fnForgotPassword()"> Forgot Password?</ion-label>

    <button ion-button class="login_btn" (click)="fnLogin()"><b>Log In</b></button>
   
  </div>
 <div style="text-align: center;">
  <p class="login_signup" (click)="fnSignUp()"><b>Don't have an account? Sign up</b></p>
 </div>

</ion-content>
