<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../assets/imgs/logout.png" (click)=fnLogout()>
      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="header-content">
    <p class="p-label">Wel Come</p>
  </ion-grid>

  <ion-row style="margin-top: 12px;">
    <p class="order-status"><b>Order Status</b></p>
    
    <ion-col>
      <ion-item style="float: right;">   
        <ion-select  #item class="custom-options customer-filter" [(ngModel)]="selecTextStatus.select" (ionChange)="OnChange(item.value)">
        
          <ion-select-option value="Shipped">Shipped</ion-select-option> 
          <ion-select-option value="Delivered">Delivered</ion-select-option> 
          <ion-select-option value="cancel">Cancel</ion-select-option> 
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngFor="let item of ordersList;">
  <ion-card class="card-content" (click)="fnOrderDetails(item.id,item.status)">
    <ion-row style="margin-top: 15px;">
      <p class="p-order"><b>Order # {{item.order_number}}</b></p>
      <ion-col>
        <!-- <button ion-button class="Pending_btn">{{item.status}}</button> -->
        <button ion-button *ngIf="item.status == 'New'" class="Pending_btn">Pending</button>
        <button ion-button *ngIf="item.status == 'Shipped'" class="Pending_btn">Shipped</button>
        <button ion-button *ngIf="item.status == 'Approve'" class="Pending_btn">Approve</button>
        <button ion-button *ngIf="item.status == 'cancel'" class="Pending_btn">Cancel</button>
      </ion-col>
    </ion-row>
    <p class="p-date"><b>Date </b>{{item.create_at}}</p>

  </ion-card>
  <ion-card class="card-content-address">
    <h5 class="add-txt"><img src="../../assets/imgs/location.png" class="img">
      {{item.address_house_no}},{{item.address_city}},{{item.address_state}}</h5>
  </ion-card>
  </div>

</ion-content>