<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="ordersDetails">

  <ion-card class="main-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="p-label2">Order # 00023</h4>
        </ion-col>

        <ion-col>
          <h6 class="p-label">Delivery Date</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <h4 class="p-price">{{ordersDetails.status}}</h4> -->
          <h4 class="p-price" *ngIf="ordersDetails.status == 'New'">Pending</h4>
        </ion-col>

        <ion-col>
          <h6 class="p-date">{{orderDate}}</h6>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
  </div>
  <ion-card class="cust-profile">
    <p class="profile-txt"><b>Customer Profile</b></p>
    <ion-row>
      <ion-col size="4">
        <h4 class="p-label2">Name</h4>
      </ion-col>

      <ion-col>
        <h6 class="p-label-nm">Mr. Mayur Sharma</h6>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h4 class="p-label2">Email</h4>
      </ion-col>

      <ion-col>
        <h6 class="p-label-nm">mayursharma@gmail.com</h6>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h4 class="p-label2">Phone No</h4>
      </ion-col>

      <ion-col>
        <h6 class="p-label-nm">4444333634</h6>
      </ion-col>

    </ion-row>
  </ion-card>
  <ion-card class="main-card-item">
    <p class="profile-txt"><b>Address</b></p>
    <h6 class="add-txt"><img src="../../assets/imgs/location.png" class="img">354,Noida Delhi,New Delhi,India</h6>


  </ion-card>
  <ion-card class="main-card-item">

    <h5 class="p-label3"><b>Items</b></h5>
    <h6 class="p-qty">Atta 5Kg</h6>

    <ion-row>
      <ion-col>
        <h6 class="p-qty">Qty 2 * ₹100</h6>
      </ion-col>

      <h6 class="p-label4">₹200.00</h6>
    </ion-row>

    
    <h6 class="p-qty1">Atta 5Kg</h6>
    <ion-row>
      <ion-col>
        <h6 class="p-qty">Qty 1 * ₹220</h6>
      </ion-col>
   
    <h6 class="p-label4">₹220.00</h6>
    </ion-row>
  </ion-card>
  <ion-row class="cancel_completed_btn">
    <ion-col>
      <button ion-button class="cancelOrder_btn" (click)="fnCancelOrder()">Cancel</button>  
    </ion-col>

    <ion-col>
      <button ion-button class="completed_btn" (click)="fnCompleted()">Completed</button>
    </ion-col>
  </ion-row>

</ion-content>