
//by Arshda
.main-title{
  text-align: center;
  color: #E4322E;
  margin-right: 35px;
}
.text-center{
  text-align: center;
  width: -webkit-fill-available;
}
.center-left{
  display: flex;
  align-items: center;
}
.cam-icon {
  width: 75px;
  height: 75px;
  font-size: 2.6rem;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 75px;
  color: #ffffff;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.form {
  margin-bottom: 35px;
}
.title-center{
  text-align: center !important;
  margin-right: 44px;
}
.input-wrap{
  position: relative;
  .login_text{
    margin-bottom: 15px;
  }
  .error-wrap{
    bottom: -15px;
  }
}
.error-wrap{
  color:#E4322E;
  font-size:1rem;
  margin-left: 4.4rem;
}
