<ion-content class="background-image">
  <div class="main-class">
    <div style="margin-bottom: 8%;">
      <ion-label class="sign-label">Register</ion-label>
    </div>
    <ion-input type="text" name="name" class="login_text"  placeholder="Username"></ion-input>

    <ion-input type="email" name="email" class="login_text" placeholder="Email Id"></ion-input>

    <ion-input type="password" name="password" class="login_text"  placeholder="Password"></ion-input>

    <ion-input type="password" name="confirm_password" class="login_text"  placeholder="Confirm Password"></ion-input>

    <button ion-button class="login_btn" (click)="fnLogin()">Sign Up</button>

    <p class="signup-label" (click)="fnSignIn()"><b>Already have an account? Sign In</b></p>
  </div>
</ion-content>