<ion-content class="background-image">
  <div class="main-class">
    <div style="margin-bottom: 8%;">
      <ion-label class="sign-label">Register</ion-label>
    </div>
    <form [formGroup]="ionicForm">

      <ion-input type="text" name="name" formControlName="name" [(ngModel)]="register.username" class="login_text"
        placeholder="Username"></ion-input>
      <span class="error-wrap" *ngIf="ionicForm.get('name').touched || ionicForm.get('name').dirty">
        <small *ngIf="ionicForm.get('name').hasError('required')" class="error">Name is required.</small>
      </span>

      <ion-input type="email" name="email" formControlName="email" [(ngModel)]="register.email" class="login_text"
        placeholder="Email Id"></ion-input>
      <span class="error-wrap" *ngIf="ionicForm.get('email').touched || ionicForm.get('email').dirty">
        <small *ngIf="ionicForm.get('email').hasError('required')" class="error">Email is required.</small>
        <small *ngIf="ionicForm.get('email').hasError('pattern')" class="error">Enter valid email.</small>
      </span>

      <ion-input type="password" name="password" formControlName="password" [(ngModel)]="register.password"
        class="login_text" placeholder="Password"></ion-input>
      <span class="error-wrap" *ngIf="ionicForm.get('password').touched || ionicForm.get('password').dirty">
        <small *ngIf="ionicForm.get('password').hasError('required')" class="error">Password is required.</small>
      </span>

      <ion-input type="password" name="confirm_password" formControlName="confirm_password"
        [(ngModel)]="register.password" class="login_text" placeholder="Confirm Password"></ion-input>
      <span class="error-wrap"
        *ngIf="ionicForm.get('confirm_password').touched || ionicForm.get('confirm_password').dirty">
        <small *ngIf="ionicForm.get('confirm_password').hasError('required')" class="error">Confirm Password is
          required.</small>
      </span>

      <button ion-button class="login_btn" (click)="fnLogin()">Sign Up</button>
      <!-- <button ion-button class="login_btn">Sign Up</button> -->

    </form>
  </div>
  <p class="signup-label" (click)="fnSignIn()"><b>Already have an account? Sign In</b></p>

</ion-content>